<p>
  <%= label_tag('settings[searchable_selectbox][enabled]', I18n.t('redmica_ui_extension.searchable_selectbox.label_enable')) %>
  <%= hidden_field_tag 'settings[searchable_selectbox][enabled]', 0 %>
  <%= check_box_tag('settings[searchable_selectbox][enabled]', 1, Setting.enabled_redmica_ui_extension_feature?('searchable_selectbox')) %>
</p>
<p>
  <%= label_tag('settings[burndown_chart][enabled]', I18n.t('redmica_ui_extension.burndown_chart.label_enable')) %>
  <%= hidden_field_tag 'settings[burndown_chart][enabled]', 0 %>
  <%= check_box_tag('settings[burndown_chart][enabled]', 1, Setting.enabled_redmica_ui_extension_feature?('burndown_chart')) %>
</p>
